/**
 * Common Style Sheet
 * Reines Hotel
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Iliya Melishev
 */

@color_grey: #7f8c8d;
@color_gold: #d7a333;
@color_grey_dark: #403f3d;
@color_grey_light: #f2f2f2;
@color_background: #ffffff;
@color_wa_green: #25D366;

@font-face {
  font-family: 'assistant';
  font-style: normal;
  font-weight: 400;
  src: url(../images/fonts/assistant_regular.ttf) format('truetype');
}

@font-face {
  font-family: 'assistant';
  font-style: normal;
  font-weight: 700;
  src: url(../images/fonts/assistant_bold.ttf) format('truetype');
}