/**
 * Content Style Sheet
 * Reines Hotel
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Iliya Melishev
 */

//Gold style baby
.gold_style(){
	color: @color_gold;
	text-decoration: none;
	border: 2px solid @color_gold;
	border-radius: 6px;
	padding: 0.5em;
	font-weight: 700;
	transition: all 0.3s;

	&:hover {
		color: white;
		border-color: white;
		background-color: @color_gold;

		svg {
			fill: white;
		}
	}
}

// Section padding
.section_padding() {
	padding-top: 120px;
	padding-bottom: 120px;
}

// Pulse animation
@keyframes pulse {
	from { transform: scale(1); }
	to { transform: scale(1.15); }
}

/**
 * Section top with animated keyhole
 */
@circle_size: 500px;

section#top {
	position: relative;
	padding: 0 calc(~'(100% - 1200px)' / 2);
	background-image: url(../images/header_background.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	overflow: hidden;

	text-align: center;

	&:before,
	&:after {
		content: '';
		position: absolute;
		width: @circle_size;
		height: @circle_size;
		top: 0;
		left: calc(~'50% - ' @circle_size / 2);

		border-radius: 50%;
		background-color: fade(white, 30%);
		transform-origin: 50% 50%;
		transform: scale(1);

		animation-name: pulse;
		animation-direction: alternate-reverse;
		animation-iteration-count: infinite;
		animation-duration: 1s;
		animation-fill-mode: backwards;
	}

	&:after {
		animation-delay: 0.2s;
		z-index: 0;
	}
}

section#top div.key_hole {
	position: relative;
	width: @circle_size;
	height: @circle_size;

	margin: 0 auto;

	border-radius: 50%;
	background-image: url(../images/header_img.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;

	a.logo {
		padding-top: 1em;
		margin: 0 auto;
		display: block;

		svg {
			width: 100px;
		}
	}

	a.book {
		.gold_style();
		display: block;
		width: 100px;
		margin: 0 auto;
		background-color: fade(white, 50%);
	}

	h1 {
		color: @color_gold;
		margin: 0.5em;
		text-transform: uppercase;
	}
}


/**
 * Section about us
*/

section#about {
	padding: 4rem calc(~'(100% - 1200px)' / 2);
	text-align: center;

	h2 {
		font-weight: 400;
		color: @color_grey_dark;
	}

	p {
		color: @color_grey_dark;
	}

	a {
		.gold_style();
		display: inline-block;
		margin: 1em 0;
	}
}

/**
 * Section location
*/

section#location {
	padding: 4rem calc(~'(100% - 1200px)' / 2);

	img {
		margin: 0 auto;
		display: block;
		width: auto;
	}
}

/**
 * Section gallery
*/

section#gallery {
	padding: 2em calc(~'(100% - 1200px)' / 2);
	background-color: @color_grey_light;
	text-align: center;
	.section_padding();
}

section#gallery div {
	position: relative;
	min-height: 400px;
	overflow: hidden;
}

section#gallery div a {
	position: absolute;
	top: 0;
	width: 300px;
	height: 300px;
	overflow: hidden;

	background-color: fade(black, 5);
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s;
	text-align: center;
	white-space: nowrap;

	&.visible {
		opacity: 1;
		pointer-events: auto;
	}

	&.transit {
		transition: none;
	}

	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		width: 0;
		vertical-align: middle;
	}

	img {
		vertical-align: middle;
	}
}

section#gallery nav {
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 2em;

	a {
		text-decoration: none;
		display: inline-block;
		vertical-align: middle;
		color: @color_grey_dark;
		font-size: 1.3em;
		padding: 0 1em;
		transition: all 0.3s;

		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 5px;
			background-color: @color_grey;
		}

		&.active:after {
			background-color: @color_gold;
		}
	}
}

section#gallery > a.next,
section#gallery > a.previous {
	display: inline-block;
	vertical-align: middle;
	padding: 0 2.5em;
	color: @color_grey_dark;
	font-size: 1.3em;

	svg {
		width: 35px;
		height: 35px;
		display: inline-block;
		vertical-align: middle;

		html[dir=rtl] & {
			transform: rotate(180deg);
		}
	}
}

/**
* section features
*/

section#features {
	padding: 2em calc(~'(100% - 1200px)' / 2);
	text-align: center;
	.section_padding();
}

section#features li {
	display: inline-block;
	vertical-align: top;
	list-style: none;
	padding: 1em;
	width: 350px;

	a {
		text-decoration: none;
		color: @color_gold;
		transition: all 0.3s;

		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
		}
	}
}

section#features li svg {
	width: 80px;
	height: 80px;
}

/**
 * Dialog iframe
*/
div.dialog {
	top: 10px;
	max-width: 920px;
	border-radius: 12px;
}

div.dialog.visible.active {
	width: 70vw;
	padding: 1.5em;
}

div.dialog.visible.active div.title {
	text-align: center;
	color: white;
	background-color: @color_gold;
	border: 1px solid @color_gold;
	border-radius: 5px;
}

div.dialog.visible.active div.content {
	padding-left: 0.3rem;
	padding-right: 0;
}

div.dialog.visible.active div.content div.inner_content {
	max-width: 910px;
	max-height: 70vh;
}

div.dialog.visible.active div.command_bar a {
	border: 1px solid @color_gold;
	border-radius: 5px;
	color:@color_gold;
	background-color: white;

	&:hover,
	&:active {
		background-color: @color_gold;
		color: white;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	section#about {
		padding: 1em;
	}

	section#location {
		padding: 1em;
	}

	section#location img {
		width: 90vw;
	}

	section#gallery {
		padding: 1em;
	}

	section#gallery div {
		min-height: 250px;
	}

	section#gallery div a {
		width: 20vw;
		height: 20vw;
	}
}