/**
 * Content Style Sheet
 * Reines Hotel
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Iliya Melishev
 */

footer {
	padding: 2em calc(~'(100% - 1200px)' / 2);
	background: @color_grey_dark;
	color: white;
	text-align: center;
}

footer div.information {
	display: inline-block;
	vertical-align: top;
	width: 600px;

	box-sizing: border-box;
	padding: 0 2em;
}

footer div.information a {
	.gold_style();
	border-width: 1px;
	padding: 0.5em;
	margin: 0 2em;
	display: inline-block;
	vertical-align: middle;

	svg {
		fill: @color_gold;
		display: inline-block;
		vertical-align: middle;
		width: 1.5em;
		height: 1.5em;
		margin: 0.5em;
	}
}

footer div.information h2 {
	margin: 0;
	padding-top: 0.5em;
}

footer div.information h4 {
	margin: 0;
	padding-bottom: 1em;
}

footer div.information div.form_container {
	box-sizing: border-box;
	padding: 3em 30px;
}

footer div.information div.form_container label {
	display: block;
	box-sizing: border-box;
	margin-bottom: 1em;
	width: 100%;
	border: 1px solid @color_gold;
	border-radius: 5px;
}

footer div.information div.form_container label span {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	border-right: 1px solid @color_gold;
	padding: 1em;
	line-height: 1;
	font-size: 1rem;
	text-align: left;
	width: 35%;
	min-height: 52px;

	html[dir=rtl] & {
		border-right: none;
		border-left: 1px solid @color_gold;
		text-align: right;
	}
}

footer div.information div.form_container label:nth-of-type(5) span {
	padding: 1.5em;
}

footer div.information div.form_container label input {
	border: transparent;
	display: inline-block;
	vertical-align: middle;
	padding: 1em;
	line-height: 1;
	font-size: 1rem;
	box-sizing: border-box;
	width: 65%;
	background-color: transparent;
	min-height: 52px;
	color: white;
	transition: all 0.3s;

	&:hover,
	&:focus {
		background-color: fade(@color_gold, 10%);
	}
}

footer div.information div.form_container label textarea {
	display: inline-block;
	vertical-align: middle;
	padding: 0.2em;
	padding-top: 0.3em;
	box-sizing: border-box;
	width: 65%;
	line-height: 1;

	border: transparent;
	background-color: transparent;
	color: white;
	transition: all 0.3s;

	&:hover,
	&:focus {
		background-color: fade(@color_gold, 10%);
	}
}

footer div.information div.form_container div.controls {
	display: block;
	width: 100%;
}

footer div.information div.form_container div.controls button {
	.gold_style();
	display: inline-block;
	width: 200px;
	padding: 1em;
	background-color: fade(@color_gold, 10%);
}

footer div#map {
	display: inline-block;
	vertical-align: top;
	width: 596px;
	height: 600px;

	border-radius: 5px;
	border: 1px solid @color_gold;
}

/*
 * Copyright
*/

div.copyright {
	background-color: black;
	color: white;
	text-align: center;
	background-position: calc(~'50% - 100px') center;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	footer div.information {
		padding: 2em;
	}

	footer div.information div.form_container label {
		margin-bottom: 2em;
	}

	div.copyright {
		background-position: calc(~'50% - 150px') center;
	}
}