/**
 * Header Style Sheet
 * Reines Hotel
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Iliya Melishev
 */

header {
	padding: 0.5em calc(~'(100% - 1200px)' / 2);
	background-color: white;
	text-align: center;

	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
}

header nav a {
	margin: 0;
}

header a {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	color: @color_grey;
	font-size: 1.3em;
	padding: 0.5em 1em;
	transition: all 0.3s;
	&:hover {
		color: @color_gold;
	}
}

header a.logo {
	padding: 0;
}

header a.logo img {
	width: 70px;
	display: block;
	margin: 0 auto;
}

header a.book svg,
header a.phone svg,
header a.whatsapp svg {
	display: inline-block;
	vertical-align: middle;
	width: 1.5rem;
	height: 1.5rem;
	fill: currentColor;
	padding-right: 0.2rem;

	html[dir=rtl] & {
		padding-right: 0;
		padding-left: 0.2rem;
	}
}

header a.phone,
header a.whatsapp,
header a.book {
	line-height: 1;
	margin-right: 0.5rem;

	color: @color_gold;
	border: 2px solid @color_gold;
	border-radius: 6px;

	&:hover {
		background-color: @color_gold;
		color: white;
	}
}

nav#languages {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	padding-left: 5px;

	a {
		display: block;
		padding: 0.3em 2em;

		&.active {
			text-decoration: underline;
		}
	}
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1200px) {

	header {
		font-size: 0.8rem;
	}

	header nav#main a.book {
		display: inline-block;
		vertical-align: middle;
	}
}
