/**
 * Header_Mobile Style Sheet
 * Reines Hotel
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Iliya Melishev
 */

header.mobile_title {
	background-color: white;
	padding: 1em 0.3em;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
	z-index: 100000000;
}

header.mobile_title a {
	display: inline-block;
	vertical-align: middle;
	margin: 0rem 1rem;
}

header.mobile_title a svg {
	width: 35px;
	height: 35px;
}

header.mobile_title a.phone {
	padding: 0.5em;
	padding-right: 0;
}

header.mobile_title a.logo svg {
	width: 50px;
	height: 50px;
}

header.mobile_title a.phone svg {
	fill: @color_gold;
}

header.mobile_title a.whatsapp {
	border: 0px solid @color_wa_green;
	border-radius: 50%;
	background-color: @color_wa_green;
	line-height: 0;
	filter: drop-shadow(0 0 5px @color_gold);

	svg {
		fill: white;
	}
}

header.mobile_title a.book {
	display: inline-block;
	vertical-align: middle;

	color: @color_gold;
	text-decoration: none;
	border: 2px solid @color_gold;
	border-radius: 6px;
	padding: 0.5em;
	font-weight: 700;
	margin: 0 1em;
}

// Mobile menu
header.mobile_title div.mobile_menu {
	top: 73px;
	min-height: 100vh;
	min-width: 70vw;

	nav#languages {
		margin-top: 3rem;
		background-color: darken(@color_background, 5);

		a:last-of-type {
			border-bottom: none;
		}

		a {
			color: darken(@color_background, 70);
		}
	}
}

header div.mobile_menu a {
	display: block;
	box-sizing: border-box;
	padding: 1em;
	color: darken(@color_background, 60);
	border-bottom: 1px solid darken(@color_background, 10);
	text-decoration: none;
}
