/**
 * Main Style Sheet
 * Reines Hotel
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Iliya Melishev
 */

@import 'common.less';
@import 'content.less';
@import 'header.less';
@import 'footer.less';
@import (css) 'stock/header.css';
@import (css) 'stock/copyright.css';

body {
	margin-top: 105px;
	background-color: white;
	color: black;
	font-family: 'assistant', Arial, serif;
}
